<!-- Describe task in general -->

<p>
Дано 
{% if interpreter.slug == "js-node" %} масив цілих чисел {% else %} ітерабельний список ints {% endif %}, 

створити та повернути новий 

{% if interpreter.slug == "js-node" %} Масив {% else %}, що повторюється {% endif %}

 перші два елементи якого такі ж, як і в items, після чого кожен елемент дорівнює середньому елементу в списку з трьох елементів з вихідного списку.

 Цей список з трьох елементів закінчується на поточній позиції, перші два елементи йдуть безпосередньо перед третім елементом.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 365px"/>
</p>

<p>Зачекайте... Ви не знаєте, що таке "медіана"? Перегляньте окрему статтю 

<a href="https://{% if interpreter.slug == 'js-node' %}js{% else %}py{%endif %}.checkio.org/en/mission/median/">"Median"</a>

місію на CheckiO.</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхід: </strong> {% if interpreter.slug == "js-node" %}
Масив цілих чисел.
   {% else %}
Ітерабельний масив інтів.
   {% endif %}
</p>

<p>
   <strong>Вихідні дані: </strong> {% if interpreter.slug == "js-node" %}
Масив цілих чисел.
   {% else %}
Ітерабельний масив цілих чисел.
   {% endif %}
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклад:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p><i>Місія взята з Python CCPS 109 Fall 2018. Його викладають для Школи безперервної освіти Райерсона Чанга (Ryerson Chang School of Continuing Education) <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>

