<!-- Describe task in general -->

<p>
Étant donné 
{% if interpreter.slug == "js-node" %} un tableau d'entiers {% else %} un itérable d'entiers {% endif %}, 

créez et renvoyez un nouveau 

{% if interpreter.slug == "js-node" %} Tableau {% else %} itérable {% endif %}

 dont les deux premiers éléments sont les mêmes que dans items, après quoi chaque élément est égal à l'élément médian de la liste des trois éléments de la liste originale.

 Cette liste de trois éléments se termine à la position courante, les deux premiers éléments passant juste avant le troisième élément.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 365px"/>
</p>

<p>Attendez... Vous ne savez pas ce qu'est la "médiane"? Allez voir le document séparé 

<a href="https://{% if interpreter.slug == 'js-node' %}js{% else %}py{%endif %}.checkio.org/en/mission/median/">"Median"</a>

sur CheckiO.</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée: </strong> {% if interpreter.slug == "js-node" %}
Tableau d'entiers.
   {% else %}
Itérable d'entiers.
   {% endif %}
</p>

<p>
   <strong>Sortie: </strong> {% if interpreter.slug == "js-node" %}
Tableau d'entiers.
   {% else %}
Itérable d'entiers.
   {% endif %}
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemple:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p><i>La mission est tirée du cours Python CCPS 109 Fall 2018. Elle est enseignée pour l'école d'éducation permanente Ryerson Chang par <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>

