<!-- Describe task in general -->

<p>
Given
{% if interpreter.slug == "js-node" %}  an Array of integers {% else %}  an iterable of ints {% endif %},

create and return a new

{% if interpreter.slug == "js-node" %} Array {% else %} iterable {% endif %}

 whose first two elements are the same as in items, after which each element equals the medium element in the sorted list of the three elements from the original list.

 Third element in sorted list is current position (position 2 and go on), first two elements are going before the third element in the original list.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 365px"/>
</p>

<p>Attends... Tu ne sais pas ce qu'est la "médiane" ? Va voir cette autre mission

<a href="{% if interpreter.slug == "js-node" %}https://js.checkio.org/fr/mission/median/{% else %}https://py.checkio.org/fr/mission/median/{% endif %}">"Médiane"</a>

sur CheckiO.</p>

<!-- Explain input and output values -->
<p>
    <strong>Entrée: </strong> {% if interpreter.slug == "js-node" %}
Tableau d'entiers.
    {% else %}
Iterable d'entiers.
    {% endif %}
</p>

<p>
    <strong>Sortie: </strong> {% if interpreter.slug == "js-node" %}
Tableau d'entiers.
    {% else %}
Iterable d'entiers.
    {% endif %}
</p>

<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples :</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p><i>La mission vient de "Python CCPS 109 Fall 2018". C'est enseigné à la Ryerson Chang School of Continuing Education par <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
