<!-- Describe task in general -->

<p>
给你一个
{% if interpreter.slug == "js-node" %}  整数数组 {% else %}  整数列表 {% endif %}, 

你需要创建并返回一个

{% if interpreter.slug == "js-node" %} 数组 {% else %} 列表 {% endif %}

其中前两个元素要和输入列表一致, 从第三个元素开始，要取输入列表的该位置前三个数的中位数。
</p>

<p>等等...你不知道什么是‘中位数’? 那先来看看这个Checkio任务

<a href="{% if interpreter.slug == "js-node" %}https://js.checkio.org/en/mission/median/{% else %}https://py.checkio.org/en/mission/median/{% endif %}">"Median"</a>

.</p>

<!-- Explain input and output values -->
<p>
    <strong>输入: </strong> {% if interpreter.slug == "js-node" %}
整数数组。
    {% else %}
整数列表。
    {% endif %}
</p>

<p>
    <strong>输出: </strong> {% if interpreter.slug == "js-node" %}
整数数组。
    {% else %}
整数列表。
    {% endif %}
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>举例:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
medianThree([1, 2, 3, 4, 5, 6, 7]) == [1, 2, 2, 3, 4, 5, 6]
medianThree([1]) == [1]
medianThree([-1, 0, 1]) == [-1, 0, 0]
</pre>
{% else %}
<pre class="brush: python">
list(median_three([1, 2, 3, 4, 5, 6, 7])) == [1, 2, 2, 3, 4, 5, 6]
list(median_three([1])) == [1]
list(median_three([-1, 0, 1])) == [-1, 0, 0]
</pre>
{% endif %}
</div>


<p><i>The mission was taken from Python CCPS 109 Fall 2018. It’s being taught for Ryerson Chang School of Continuing Education by <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>

